extends layout

block content
    h1= title.name
    br
    h4 Items
    ul(class="row") 
        each category in category_items
            li(class='col-4')
                a(href=category.url) #{category.name}
        
        else
            li There are no items in #{title.name} category
    hr
    p
        a(href=title.url + '/delete') Delete Category
    p
        a(href=title.url + '/update') Update Category